<h1>Books</h1>

<form method="get" action="/books">
  <input type="text" name="q" value="<%= params[:q].to_s %>" placeholder="Author last name (e.g., Rowling)" />
  <input type="number" name="per" value="<%= params[:per] || 10 %>" min="1" />
  <button type="submit">Search</button>
</form>

<p>Found: <%= @relation.fetch_found_only %></p>

<% if @result.any? %>
  <ul>
    <% @result.each do |b| %>
      <li>
        <%= b.instance_variable_get(:@title) || b.title rescue b.to_s %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No results.</p>
<% end %>

<details>
  <summary>Explain</summary>
  <pre><%= @relation.explain %></pre>
  <pre><%= @relation.to_params_json %></pre>
</details>
